@import './variable'

/* 分页样式重置 */
// .el-pagination .btn-prev, .el-pagination .btn-next
//   border 1px solid #999

// .el-pagination .btn-next
//   padding-left 6px

// .el-pagination .btn-prev
//   padding-right 6px  

// /* 上下页按钮样式 */
// .el-pagination .btn-prev , .el-pagination .btn-next
//   &:hover
//     border-color $color-text-sub
//   &:hover span
//     color $color-text-sub     

/* 不可点击按钮样式 */
// .el-pagination button.disabled
//   border-color #c0c4cc
//   &:hover
//     border-color #c0c4cc
//   &:hover span
//     color #c0c4cc

/* 页码样式*/  
// .el-pager li
//   border 1px solid #c0c4cc
//   color #606266

// .el-pager li.active
//   border-color $color-text-sub
//   background-color $color-text-sub
//   color white
//   &:hover
//     color white

// .el-pager li:hover
//   color $color-text-sub 

/* 步骤条 */   
.el-step__head.is-finish
  color $color-text-sub
  border-color $color-text-sub 

.el-step__title.is-finish
  color $color-text-sub   


/* 管理界面样式 */
// .manager-pagination .el-pager li
//   color #606266 !important
//   border none

// .manager-pagination .el-pager li:hover
//   color #606266 !important
//   border-color #409eff
// .manager-pagination .el-pager li.active
//   color #606266 !important
//   background-color white !important
//   border-color #c0c4cc   

// .manager-pagiantion .el-pagination .btn-prev,.manager-pagiantion .el-pagination .btn-next
//   border none  

// .manager-pagiantion .el-pagination .btn-prev ,.manager-pagiantion .el-pagination .btn-next
//   &:hover
//     border-color none
//   &:hover span
//     color none  